/////////////////////////////////
/// Environments Admin styles ///
/////////////////////////////////

// These look best with the Shiny admin theme/sub-theme.

.env-task-select {
  min-width: 240px;
}

.env-task-settings {

  .env-var-val-type,
  .env-var-val,
  #edit-settings-getvalue {
    float: left;
    overflow: hidden;
  }

  .env-var-val-type,
  .env-var-val {
    margin-right: 1em;
  }

  #edit-settings-getvalue.form-submit {
    margin-top: 1.3em;
  }

  .form-item-settings-command label {

    &:after {
      content: 'drush';
      font-style: italic;
      font-weight: normal;
      left: -5.8em;
      position: relative;
      top: 1.9em;
	}

  }

  #edit-settings-command {
    left: 3.4em;
    position: relative;
  }

}
