/////////////////////////////////
/// Environments Admin styles ///
/////////////////////////////////

// These look best with the Shiny admin theme or a sub-theme.

#environments-task-settings {

  #environments-variable-value-type,
  #environments-variable-value,
  #edit-settings-getvalue {
	float: left;
	overflow: hidden;
  }

  #environments-variable-value-type,
  #environments-variable-value {
	margin-right: 1em;
  }

  #edit-settings-getvalue.form-submit {
	margin-top: 1.3em;
  }

  .form-item-settings-command label {

	&:after {
	  content: "drush";
	  font-style: italic;
	  position: relative;
	  top: 1.75em;
	  left: -5.8em;
	}

  }

  #edit-settings-command {
	position: relative;
	left: 3.4em;
  }

}
