/* line 9, ../scss/environments.admin.scss */
#environments-task-settings #environments-variable-value-type,
#environments-task-settings #environments-variable-value,
#environments-task-settings #edit-settings-getvalue {
  float: left;
  overflow: hidden;
}
/* line 16, ../scss/environments.admin.scss */
#environments-task-settings #environments-variable-value-type,
#environments-task-settings #environments-variable-value {
  margin-right: 1em;
}
/* line 21, ../scss/environments.admin.scss */
#environments-task-settings #edit-settings-getvalue.form-submit {
  margin-top: 1.3em;
}
