.env-task-select {
  min-width: 240px; }

.env-task-settings #environments-variable-value-type, .env-task-settings #environments-variable-value, .env-task-settings #edit-settings-getvalue {
  float: left;
  overflow: hidden; }
.env-task-settings #environments-variable-value-type, .env-task-settings #environments-variable-value {
  margin-right: 1em; }
.env-task-settings #edit-settings-getvalue.form-submit {
  margin-top: 1.3em; }
.env-task-settings .form-item-settings-command label:after {
  content: 'drush';
  font-style: italic;
  font-weight: normal;
  left: -5.8em;
  position: relative;
  top: 1.9em; }
.env-task-settings #edit-settings-command {
  left: 3.4em;
  position: relative; }
