/* line 9, ../scss/environments.scss */
#environments-notify {
  height: 1.2em;
  margin: 0;
  padding: 0;
  border: 0 none;
  z-index: 90;
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
  position: relative;
}
/* line 21, ../scss/environments.scss */
#environments-notify.alert-box a.close {
  position: absolute;
  top: 0.2em;
  right: 0.15em;
  color: #333333;
  opacity: 0.3;
  text-decoration: none;
  font-size: 1.375em;
  padding: 5px 4px 4px;
  line-height: 0;
}
/* line 34, ../scss/environments.scss */
#environments-notify .message {
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #ccc;
  position: relative;
  top: -1px;
  color: black;
}

/* line 49, ../scss/environments.scss */
#environments-notify.local, #environments-notify.dev, #environments-notify.development {
  background: #5FCD66;
}
/* line 55, ../scss/environments.scss */
#environments-notify.stg, #environments-notify.stage, #environments-notify.staging {
  background: #FFC926;
}
/* line 61, ../scss/environments.scss */
#environments-notify.demo, #environments-notify.test {
  background: #2d6fff;
}
/* line 66, ../scss/environments.scss */
#environments-notify.prd, #environments-notify.prod, #environments-notify.production {
  background: #FF2626;
}
/* line 71, ../scss/environments.scss */
#environments-notify.prd .message, #environments-notify.prd .message, #environments-notify.prd .message, #environments-notify.prod .message, #environments-notify.prod .message, #environments-notify.prod .message, #environments-notify.production .message, #environments-notify.production .message, #environments-notify.production .message {
  color: white;
  text-shadow: 1px 1px 1px black;
}
